<!DOCTYPE html>
<html>
  <head>
    <title>Nerd Nook</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&family=VT323&display=swap" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>
      <h1 id="nerd-nook">Nerd Nook</h1>
      <div class="topnav">
        <a href="/">Home</a>
        <!-- <a href="/about">About</a> -->
        <a href="/contact">Contact</a>
        <a href="/games">Games</a>
        <% if (user) { %>
          <!-- User is logged in -->
          <a href="/games/new" class="<%= title === 'Add Game' ? 'active' : '' %>">Add Game</a>
        <% } %>
        <div class="search-container">
          <form action="/action_page.php">
            <input type="text" placeholder="Search.." name="search">
            <button type="submit"><i class="fa fa-search"></i></button>
          </form>
        </div>
      </div>
      <% if (!user) { %>
        <!-- Check if the user is logged out -->
        <a href="/auth/google" class="login">LOG IN&nbsp;<img src="https://i.imgur.com/FHjYyi0.png"></a>
      <% } else { %>
        <!-- User is logged in -->
        <a href="/logout" id="logout">LOG OUT&nbsp;<img id="logout-img" src="https://i.imgur.com/FHjYyi0.png"></a>
      <% } %>
      <!-- <a href="/orders" title="Image from freeiconspng.com"><img id="basket-pic"  src="https://www.freeiconspng.com/uploads/basket-cart-icon-27.png" width="350" alt="basket cart icon" /></a> -->
    </header>
  </body>
</html>
