<!DOCTYPE html>
<html>
<head>
    <title>Nerd Nook</title>
</head>
<body>
    <% include partials/header %>

    <!DOCTYPE html>
<html>
<head>
    <title>Contact Us</title>
    <link rel="stylesheet" type="text/css" href="/styles/contact.css">
    <style>

        .contact {
            display: flex;
            justify-content: center;
            position: absolute;
            flex-direction: column;
            top: 50vmin;
            left: 20%
        }
        
        p {
            position: relative;
            justify-content: center;
            max-width: auto;
            color: #CCF381;
            font-size: 20px;
            max-width: 600px;
        }

        h2 {
            display: flex;
            margin-bottom: 3vmin;
            color: #CCF381;
            font-size: 30px;
        }

        body {
            background-image: url('https://images.unsplash.com/photo-1520801624536-d16901963904?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1770&q=80');
        }
    </style>
</head>
<body>
    <% include partials/header %>

        <div class="contact">
            <h2>Nerd Nook: Where Digital Adventures Begin</h2>
            <p>
                About Stuff
            </p>
        </div>

    <% include partials/footer %>
</body>
</html>
    
    <% include partials/footer %>
</body>
</html>
